{
    "schemaVersion": "1.11.1",
    "class": "Device",
    "async": true,
    "label": "Onboard BIG-IP into DSC cluster",
    "Common": {
        "class": "Tenant",
        "hostname": {{ hostvars[groups['F5_systems'][2]].bigip3_hostname }},
        "configsync": {
            "class": "ConfigSync",
            "configsyncIp": {{ hostvars[groups['F5_systems'][2]].vs_ip }}
        },
        "syncGroup": {
            "class": "DeviceGroup",
            "type": "sync-only",
            "members": [ {{ hostvars[groups['F5_systems'][0]].bigip1_hostname }}, {{ hostvars[groups['F5_systems'][1]].bigip2_hostname }}, {{ hostvars[groups['F5_systems'][2]].bigip3_hostname }}],
            "owner": "/Common/failoverGroup/members/0",
            "autoSync": false,
            "saveOnAutoSync": false,
            "networkFailover": false,
            "fullLoadOnSync": false,
            "asmSync": false
        },
        "trust": {
            "class": "DeviceTrust",
            "localUsername": {{ ADMIN_USER }},
            "localPassword": {{ ADMIN_PASSWORD }},
            "remoteHost": "/Common/failoverGroup/members/0",
            "remoteUsername": {{ ADMIN_USER }},
            "remotePassword": {{ ADMIN_PASSWORD }}
        }
    }
}
