
---

- name: Onboarding BIG-IP
  hosts: F5_systems
  gather_facts: false
  roles:
   - f5_onboarding


- name: BIG-IP DO declaration
  hosts: F5_systems
  gather_facts: false
  roles:
   - f5_do_declare

- name: GKE onboarding
  hosts: gke_systems
  connection: local
  gather_facts: true
  roles:
   - gke_onboarding

